* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-mui-color-scheme="light"] {
  color-scheme: light;
}

[data-mui-color-scheme="dark"] {
  color-scheme: dark;
}

[data-mui-color-scheme="light"] .img-dark {
  display: none !important;
}

[data-mui-color-scheme="dark"] .img-light {
  display: none !important;
}
